---
import ContactLayout from "../layouts/ContactLayout.astro";
import cleaningman from "../assets/pics/cleaningman.png";
---

<ContactLayout
  title="Let us takecare of all your cleaning service needs."
  subTitle="About Us"
  text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.Lo"
  imgUrl={cleaningman}
  alt="cleaningman"
  hideImg={false}>
  <button class="btn btn-dark mb-4 m-lg-0">Request a quote</button>
</ContactLayout>
