<div class="container py-5">
  <div class="banner border p-4 p-lg-5">
    <div class="d-flex flex-column align-items-lg-center flex-lg-row">
      <div class="texts flex-grow-1 mb-5 mb-lg-0">
        <h3 class="fs-3 fw-bold mb-4">How we can help...</h3>
        <p>
          We offer a wide range of procedures to help you get the perfect smile.
        </p>
        <a
          href="#"
          class="text-primary d-inline-block text-decoration-underline"
          >Request a quote</a
        >
      </div>
      <div
        class="banner-btn d-flex justify-content-start justify-content-lg-end"
      >
        <button class="btn">Request a quote</button>
      </div>
    </div>
  </div>
</div>

<style>
  .texts a,
  .texts p {
    font-size: 18px;
    line-height: 27px;
  }

  .btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 8px 20px;
  }
</style>
