---
import Mail from "../assets/icon/Mail.svg";
import Facebook from "../assets/icon/Facebook.svg";
import Instagram from "../assets/icon/Instagram.svg";
import LinkedIn from "../assets/icon/LinkedIn.svg";
import Twitter from "../assets/icon/Twitter.svg";
import Logo from "../assets/astro.svg";
---

<nav>
  <div class="border-bottom d-none d-lg-block">
    <div class="container d-flex flex-wrap py-2">
      <ul class="contact nav me-auto">
        <li class="nav-item">
          <span class="nav-link link-dark px-2 fw-bold">For emergency cases: 567 123 45 67</span>
        </li>
        <li class="nav-item">
          <span class="nav-link link-dark px-2">Location: 121 Wallstreet Street, NY , USA</span>
        </li>
        <li class="nav-item">
          <span class="nav-link link-dark px-2"
            ><span class="d-none d-xl-inline-block">Open hours:&nbsp;</span>9.00-24.00 Mon-Sat</span
          >
        </li>
        <li class="nav-item d-none d-xl-inline-block">
          <span class="nav-link link-dark px-2">Email: info@ddsgnr.com</span>
        </li>
      </ul>
      <div class="d-flex align-self-center gap-3">
        <a class="d-block d-xl-none" href="mailto:info@ddsgnr.com"><Mail width={24} height={24} /></a>
        <a href=""><Facebook width={24} height={24} /></a>
        <a href=""><Instagram width={24} height={24} /></a>
        <a href=""><LinkedIn width={24} height={24} /></a>
        <a href=""><Twitter width={24} height={24} /></a>
      </div>
    </div>
  </div>
  <div class="border-bottom">
    <div class="container d-flex flex-wrap align-items-center justify-content-between py-3">
      <Logo height={30} />
      <div class="d-none d-lg-flex">
        <ul class="nav ms-auto gap-3 me-4">
          <li class="nav-item">
            <a href="#" class="nav-link link-dark px-2" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link link-dark px-2">About</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link link-dark px-2">Services</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link link-dark px-2">Teams</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link link-dark px-2">Contact</a>
          </li>
        </ul>
        <button class="btn btn-dark px-3">Request A Quote</button>
      </div>

      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Collapsed content</h5>
          <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
      </div>
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>
</nav>

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index.php">Home</a></li>
        <li><a href="about.php">About</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="contact.php">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<script>
  const firstButton = document.querySelector(".first-button");
  if (firstButton) {
    firstButton.addEventListener("click", function () {
      firstButton.classList.toggle("open");
    });
  }

  // document.querySelector('.second-button').addEventListener('click', function () {

  // document.querySelector('.animated-icon2').classList.toggle('open');
  // });
  // document.querySelector('.third-button').addEventListener('click', function () {

  // document.querySelector('.animated-icon3').classList.toggle('open');
  // });
  // }
</script>

<style>
  .contact .nav-item {
    font-size: 14px;
  }
  .contact li:nth-child(n + 2) {
    border-left: 1px solid var(--dark-color);
  }
  /* 
.navbar-toggle .icon-bar:nth-of-type(2) {
  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  top: 2px;
}

.navbar-toggle .icon-bar {
  position: relative;
  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
  top: 6px;
  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
  top: -6px;
  transform: rotate(-45deg);
} */
</style>
