---
import Facebook from "../assets/icon/Facebook.svg"
import Instagram from "../assets/icon/Instagram.svg"
import LinkedIn from "../assets/icon/LinkedIn.svg"
import Twitter from "../assets/icon/Twitter.svg"
import Logo from "../assets/logo.svg"
---
<nav>
  <div class="container d-flex flex-wrap py-2">
    <ul class="contact nav me-auto">
      <li class="nav-item border-end"><span class="nav-link link-dark px-2 fw-bold">For emergency cases: 567 123 45 67</span></li>
      <li class="nav-item border-end"><span class="nav-link link-dark px-2">Location: 121 Wallstreet Street, NY , USA</span></li>
      <li class="nav-item border-end"><span class="nav-link link-dark px-2">Open hours: 9.00-24.00 Mon-Sat</span></li>
      <li class="nav-item"><span class="nav-link link-dark px-2">Email:info@ddsgnr.com</span></li>
    </ul>
    <div class="d-flex align-self-center gap-3">
      <a href=""><Facebook width={24} height={24}/></a>
      <a href=""><Instagram width={24} height={24}/></a> 
      <a href=""><LinkedIn width={24} height={24}/></a>
      <a href=""><Twitter width={24} height={24}/></a>
    </div>
  </div>
  <div class="border-bottom border-top border-secondary">
    <div class="container d-flex flex-wrap align-items-center justify-content-between py-3">
      <Logo height={30}/>
        <ul class="nav ms-auto gap-3 me-4">
          <li class="nav-item"><a href="#" class="nav-link link-dark px-2" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link link-dark px-2">About</a></li>
          <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Services</a></li>
          <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Teams</a></li>
          <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Contact</a></li>
        </ul>
        <button class="btn btn-dark px-3">Request A Quote</button>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
    </div>
  </div>
</nav>

<style>
.contact .nav-link{
  font-size: 14px;
  border-color: var(--dark-color);
}
.btn{
  background-color: var(--primary-color);
}
</style>