---
import { Image } from "astro:assets";
import heroimg from "../assets/pics/heroImg.jpeg"
---
<div class="container-fluid">
  <div class="letter">
    <div class="">
      <h1 class="fs-1 fw-bold">A Clean Home,<br>A Happy Life,<br>Let Us Handle the Dirty Work!</h1>
      <p class="pt-4 pb-4">We develop innovative design solutions that enable our clients to enhance their competitive advantage.</p>  
    </div>
    <div class="btn-container">
      <button class="btn btn-dark">Request A Quote</button>
      <button class="btn btn-outline-dark">Learn More</button>
    </div>  
  </div>
  <div class="img">
    <Image src={heroimg} alt="hero img" class="heroimg" />
  </div>    
</div>

<style>
.container-fluid {
  display: flex;  
  align-items: center; 
  justify-content: space-between;
}

.letter {
  flex: 1;             
  padding: 0 70px;     
}

.img {
  flex-shrink: 0;
}

.heroimg {
  width: 720px;
  height: auto;
}

.btn-container {
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .container-fluid {
    flex-direction: column;
  }

  .letter {
    padding: 20px 0;  
  }

  .img {
    width: 100%;      
  }

  .heroimg {
    width: 100%;    
    height: auto;
  }
}
</style>