<form class="p-5">
  <div class="row">
    <div class="col">
      <label for="fullname" class="form-label">Full name</label>
      <input type="text" class="form-control" id="fullname" aria-describedby="emailHelp">
    </div>
    <div class="col">
      <label for="phonenumber" class="form-label">Phone Number</label>
      <input type="text" class="form-control" id="phonenumber">
    </div>
    <div class="col">
      <label for="comment" class="form-label">Comment</label>
      <input type="text" class="form-control" id="comment">
    </div>
    <div class="col d-flex align-items-end">
      <button type="submit" class="btn btn-dark">Request A Quote</button>  
    </div>
  </div>
</form>